.container{
    position: absolute;
    right: 30px;
    top: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background: #306f44;
    color: #306f44;
    letter-spacing: 2px;
    font-size: 1.3rem;
    visibility: hidden;
    opacity: 0;
    height: 0;
}
.list li{
    list-style: none;
    line-height: 1.5;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;}
.list li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    display: block;
    padding: 7px;
    border-radius: 6px;
    transition: all 0.15s ease-in-out;

}
.list li a:hover{
    background-color: #275f39;
    transform: translateX(3px);
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 20px;
    left: 30px;
}
.icons svg{
    color: white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.icons svg:hover{
    color:#022c0f;

}
@media (max-width:990px){
    .container{
        /* display: block; */
        opacity: 1;
        visibility: visible;
            height: 300px;
    }
}